.logoMobileAbout {
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    padding: 5vw;
    align-self: center;
}

#headerAbout {
    width: 100%;
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
    color: #fff;
    padding: 0 2vw;
    font-size: 5vw;
}


#textAbout {
    text-align: center;
    color: #fff;
    padding: 1vw 2vw 20vw;
    font-size: 4.5vw;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#loginAbout {
    color: #fff;
    background-color: #E13D93;
    border: none;
    border-radius: 3vw;
    padding: 2vw;
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 4vw;
    }

    #textAbout {
        text-align:justify;
        color: #fff;
        padding: 5vw 12vw 15vw;
        font-size: 3vw;
    }

    .logoMobileAbout {
        width: 30vw;
        height: 10%;
        padding: 0;
    }

}

@media screen and (min-width: 1024px) {

    h3 {
        font-size: 2vw;
    }

    #textAbout {
        padding: 2vw 6vw 7vw;
        font-size: 1.5vw;
    }

    .logoMobileAbout {
        width: 20vw;
        height: 5%;
        padding: 1vw;
    }

    #login {
        padding: 2vw;
    }

    #loginAbout {
        border-radius: 2vw;
        padding: 1vw;
    }

}

