@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&family=Space+Mono&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
}


#logoDesktopFeed {
    display: none;
}

h2 {
    text-align: right;
    display: flex;
    padding: 5vw;
    width: 100vw;
    height: 15vh;
    font-family: 'Space Mono', monospace;
    font-size: 5.7vw;
    color: #C1FF72;
}

#logoMobile {
    width:58vw;
    height:12vh;
    padding-left: 4vw;
}

.loginContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5vw;
}

.loginEmailPassword {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 98%;
    height:30vh;
    color: #C1FF72;
    font-size: 4vw;
    align-items: center;
    gap: 1.2vw;
}

input{
    width: 85vw;
    height: 5vh;
    background-color: #C9E0F5;
    border: none;
    border-radius: 2vw;
    padding: 2vw;
}

.buttonLogin {
    width: 35vw;
    height: 4.5vh;
    font-size: 4.2vw;
    color:#C9E0F5;
    background-color: #B54F92;
    border: none;
    border-radius: 3vw;
}

.toggle-password i {
    cursor: pointer;
    position: absolute;
    top:46%;
    right: 2em;
    transform: translateY(-20%);
    font-size: 5vw;
    color: #B54F92;
}

#loginGoogle {
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 90%;
    height: 6vh;
    padding-left: 5vw;
    background-color: #374890;
    border-radius: 4vw;
}

.button-login-google {
    height: 5vh;
    width: 95vw;
    color: #C1FF72;
    background-color: #374890;
    border: none;
    font-size: 4.5vw;
}

#googleLogo{
    width: 11vw;
    padding: 2vw;
}

#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#E13D93;
    padding: 5vw;
    gap: 5vw;
    border: none;
    justify-content: center;
}

.button-new-account {
    width: 70%;
    height: 5vh;
    background-color: #C1FF72;
    font-size: 4.2vw;
    font-weight: bold;
    -webkit-text-stroke-width: 0.2vw; /* largura da borda */
    border-radius: 3vw;
    gap: 10vw;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#000000;
    padding: 2vw;
    border: none;
    justify-content: center;
    background-color: #C9E0F5;
    border-radius: 3vw;
}

#about {
    padding: 7vw;
}

footer p {
    display: flex;
    flex-direction: row;
    color:#E13D93;
    padding: 0 9vw;
    border: none;
    font-size: 3vw;
    align-items: center;
}

.footerA {
    text-decoration: none;
    color:#C1FF72
}

@media screen and (min-width: 768px) {

    #headerLogin{
        width: 100vw;
        height: 20vh;
    }

    h2 {
        font-size: 4vw;
        padding-left: 20vw;
    }

    #logoMobile {
        width:48vw;
        height:15vh;
    }

    .loginContainer {
        padding: 15vw 15vw 0;
        gap: 4vw;
    }

    input{
        font-size: 2.5vw;
    }

    .loginEmailPassword {   
        font-size: 3vw;
        gap: 1vw;
    }

    .buttonLogin {
        height: 5vh;
        font-size: 3vw;
    }

    .toggle-password i {
        top:49%;
        right: 3em;
        font-size: 4vw;
    }

    #loginGoogle {
        width: 70%;
    }

    .button-login-google {
        font-size: 3vw;
    }

    #register{
        padding: 1vw;
        gap: 2vw;
    }

    .button-new-account {
        font-size: 3vw;
        width: 30vw;
    }
    
    #about {
        padding: 1vw;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    footer p {
        font-size: 2vw;
    }

}

@media screen and (min-width: 1024px) {

    #logoMobile {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    h2 {
        font-size: 2vw;
        width: 45vw;
        height: 45vw;
        padding: 2vw 2vw 2vw 0;
    }

    #logoDesktopFeed {
        width: 40vw;
        height: 50vw;
        display: flex;
        flex-direction: column;
    }

    .loginContainer {
        padding: 0;
        width: 50vw;
        height: 43vw;
        gap: 0;
    }
    
    .loginEmailPassword {
        width: 40vw;
        height: 22vw;
        font-size: 2vw;
        padding: 0;
        gap: 0.3vw;
        font-size: 1.5vw;
    }

    input{
        width: 30vw;
        border-radius: 1vw;
        font-size: 1.2vw;
    }

    .buttonLogin {
        width: 13vw;
        height: 6vh;
        font-size: 1.5vw;
        border-radius: 1vw;
    }
    
    #loginGoogle {
        width:20vw;
        height: 5vh;
        padding-left: 2vw;
        border-radius: 2vw;
    }
    
    .button-login-google {
        height: 5vh;
        width: 15vw;
        font-size: 1.2vw;
    }

    #googleLogo {
        width: 3vw;
        height: 5vh;
        padding: 0.8vw;
    }
    
    .button-new-account {
        border-radius: 1.5vw;
        width: 15vw;
        height: 6vh;
        font-size: 1.4vw;
        font-weight: normal;
    }

    .about {
        padding: 1vw;
        border-radius: 2vw;
    }

    footer p {
        font-size: 1vw;
    }

    .toggle-password i {
        top:39.3%;
        right: 28em;
        font-size: 2.2vw;
    }
}



