@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
}


#logoMobile {
    width:58vw;
    height:12vh;
    padding-left: 4vw;
}

.loginContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5vw;
}


.loginEmailPassword {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    width: 98%;
    height:30vh;
    color: #C1FF72;
    font-size: 4vw;
    align-items: center;
    gap: 1.2vw;
}

input{
    width: 85vw;
    height: 5vh;
    background-color: #C9E0F5;
    border: none;
    border-radius: 2vw;
    padding: 2vw;
}


.buttonLogin {
    width: 35vw;
    height: 4.5vh;
    font-size: 4.2vw;
    color:#C9E0F5;
    background-color: #B54F92;
    border: none;
    border-radius: 3vw;
}

.toggle-password i {
    cursor: pointer;
    position: absolute;
    top: 46%;
    right: 11%;
    transform: translateY(-20%);
    font-size: 5vw;
    color: #B54F92;
  }

#loginGoogle {
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 90%;
    height: 6vh;
    padding-left: 5vw;
    background-color: #374890;
    border-radius: 4vw;

}

.button-login-google {
    height: 5vh;
    width: 95vw;
    color: #C1FF72;
    background-color: #374890;
    border: none;
    font-size: 4.5vw;
}

#googleLogo{
    width: 11vw;
    padding: 1vw;
}