.logoMobileRegister{
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    padding: 5vw;
    align-self: center; 
}

#registerH2{
    padding: 0;
    justify-content: center;
    height: 5vh;
}

label {
    color: #C1FF72;
}

#registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    padding: 8vw;
    gap: 1vw;
}
#buttons {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    align-items: center;
    gap: 10vw;
}

#buttonRegister{
    background-color: #C1FF72;
    color: #000;
    border: none;
    width: 70%;
    height: 5vh;
    font-size: 4vw;
    border-radius: 2vw;
}

.loginRegister {
    color: #fff;
    background-color: #E13D93;
    border: none;
    border-radius: 3vw;
    width: 55%;
    height: 4vh;
}

.toggle-password-register i {
    cursor: pointer;
    position: absolute;
    top: 29.6em;
    right: 2em;
    transform: translateY(-20%);
    font-size: 5vw;
    color: #B54F92;
}


@media screen and (min-width: 768px) {

    .logoMobileRegister{
        width: 20vw;
        height: 15%;
        padding: 3vw;
    }

    #registerH2{
        height: 10vh;
        font-size: 2.5vw;
    }

    #registerForm {
        gap: 0.5vw;
    }

    #buttonRegister{
        width: 50%;
        font-size: 2.8vw;
        border-radius: 1vw;
    }

    .loginRegister {
        border-radius: 2vw;
        width: 40%;
        height: 4vh;
    }

    #passwordInput {
      position: relative;
    }

    .toggle-password-register i {
        top: 24em;
        right: 2.3em;
        font-size: 3.7vw;
        position: fixed;
    }

}

@media screen and (min-width: 1024px) {

    .div-register {
        display: flex;
        flex-direction: row-reverse;
    }

    header {
        width: 50%;
        height: 100%;
    }

    .logoMobileRegister{
        width: 40vw;
        padding: 10vw 10vw 2vw 0;
        align-self: flex-end;
    }

    #registerH2{
        font-size: 2vw;
        padding-right: 5vw;
    }

    #registerForm {
        padding: 5vw 10vw 0 0;
        height: 100%;
    }

    #buttons {
        padding: 0;
        gap: 3.5vw;
    }

    #buttonRegister{
        width: 40%;
        font-size: 1.2vw;
        font-weight: bold;
    }

    .loginRegister {
        border-radius: 1vw;
        width: 50%;
        height: 2vh;
        font-size: 1.1vw;
    }

    .toggle-password-register i {
        top: 17.6em;
        right: 26.5em;
        font-size: 2.3vw;
    }

}

@media screen and (min-width: 1280px) {

    .toggle-password-register i {
        top: 16.5em;
        right: 26.5em;
        font-size: 2.3vw;
    }
}


