@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&family=Space+Mono&display=swap');

html{
    margin: 0;
    padding: 0;
    height:100vh;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #af89fc, #54afb3);
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
}

main {
    padding: 0 0 6vw;
}

.customAlert {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    bottom: 40%;
    background-color: #fff;
    color: #B54F92;
    padding: 5vw 8vw;
    height: 20%;
    font-size: 6vw;
}

.dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.edit-dialog {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    border-radius: 2vw;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2vw;
}

.div-btn-dialog {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.div-btn-dialog button {
    color: #fff;
    background-color:#B54F92;
    margin: 0 2vw;
    border-radius: 2vw;
    border: none;
    padding: 1vw 2vw;
    width: 90vw;
}
  
.edit-dialog textarea {
    resize: none;
    margin-bottom: 5vw;
    height: 10vh;
    border:0.5vw solid #000;
    border-radius: 2vw;
}
  
.dialog {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    border-radius: 2vw;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
}


@media screen and (min-width: 1024px) {

    main {
        padding: 0;
    }

    .dialog {
        border-radius: 1vw;
        width: 25%;
        top: 50%;
        left: 50%;
    }

    .div-btn-dialog {
        height: 2vw;
    }

    .div-btn-dialog button {
        padding: 0;
    }

    .edit-dialog textarea {
        height: 15vh;
        border:0.1vw solid #000;
        border-radius: 1vw;
        margin-bottom: 1vw;
    }

    .edit-dialog {
        border-radius: 1vw;
        width: 30%;
        padding: 2vw;
    }

    .customAlert {
        bottom: 40%;
        left: 35%;
        height: 20%;
        font-size: 1vw;
    }

}




  
